a.navbar-brand {
  white-space: normal;
  word-break: normal;
}

.btn-primary {
  color: #fff;
  background: linear-gradient(180deg, #0095dd 0%, #0078b8 100%);
  border: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0095dd;
  border-color: #0078b8;
}
