bin/
obj/
*.user
*.db
*.db-shm
*.db-wal
server/Data/pockettransfer.db*
server/Data/keys/
Data/keys/
**/Data/keys/
.vs/
.idea/
*.nro
*.cia
*.3dsx
*.elf
*.smdh
*.nacp
*.pem
build/
clients/3ds/build/
clients/switch/build/
clients/3ds/cia/tools/
clients/certs/cacert.pem
clients/3ds/tools/sprite-cache/
clients/3ds/romfs/pkm_icons.t3x
.env
.DS_Store
/Pockettransfer/
