bin/
obj/
*.user
*.db
*.db-shm
*.db-wal
server/Data/pockettransfer.db*
.vs/
.idea/
*.nro
*.cia
*.3dsx
*.elf
*.nacp
build/
clients/3ds/build/
clients/switch/build/
clients/certs/cacert.pem
.env
.DS_Store
/Pockettransfer/
